#coin:focus {
  box-shadow: none;
}
#Maincontainer {
  background-color: #3a3845e0;
  color: white;
  border-radius: 5px;
}
#search:focus {
  box-shadow: none;
}
#measure {
  background-color: rgba(240, 248, 255, 0.11);
  border-radius: 5px;
  padding: 6px;
}
